body {
  background-color: #FAFAFA;
}
.main {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
}
.header {
  background-color: #32656A;
  position: fixed;
  top: 0;
  width: 100%;
  justify-content: space-between;
  .nav {
    display: flex;
    height: 110px;
    width: 100%;
    ul {
      margin: 0;
      padding: 0;
      display: flex;
      li {
        list-style-type: none;
      }
    }
  }
}
.banners {
  margin-top: 110px;
}