@charset "UTF-8";
body {
  background-color: #FAFAFA;
  font-family: "Roboto", sans-serif;
  position: relative;
  display: flex;
  justify-content: center;
}

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(50, 101, 106, 0.7);
  opacity: 0;
  transition: opacity 1s linear;
  z-index: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.popup .form_container {
  width: 300px;
  height: 350px;
  background-color: #FAFAFA;
  position: relative;
}
.popup .form_container .cancel {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 25px;
  height: 25px;
  border: none;
  overflow: hidden;
  padding: 0;
  background-image: url("img/icon_logo/close.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.popup .form_container .sign_in_form {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.popup .form_container .sign_in_form h2 {
  font-size: 30px;
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
}
.popup .form_container .sign_in_form input {
  margin-bottom: 30px;
  height: 60px;
  width: 250px;
  border: 1px solid #32656A;
  border-radius: 5px;
  padding: 0 0 0 15px;
  font-size: 20px;
}
.popup .form_container .sign_in_form #btn_popup_sign_in {
  height: 60px;
  width: 50%;
  padding: 0;
  color: #32656A;
  font-weight: 700;
  font-size: 20px;
  border: 1px solid #32656A;
  border-radius: 5px;
}
.popup .form_container .sign_in_form input:focus {
  outline: none;
  border: 3px solid #999999;
  border-radius: 5px;
  overflow: hidden;
}
.popup .form_container .sign_in_form .popup_error {
  position: absolute;
  font-size: 18px;
  color: #E30B0B;
}
.popup .form_container .sign_in_form #wrong_login {
  left: 20px;
  top: 130px;
}
.popup .form_container .sign_in_form #wrong_password {
  left: 20px;
  top: 225px;
}
.show_popup {
  z-index: 1;
  opacity: 1;
}

.header {
  background-color: #32656A;
  position: fixed;
  top: 0;
  width: 100%;
  height: 110px;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header .nav {
  display: flex;
  justify-content: space-between;
  height: 56px;
  width: 1260px;
  padding: 0 10px;
}
.header .nav .logo {
  width: 184px;
  height: 56px;
}
.header .nav .search {
  width: 60%;
  min-width: 300px;
  position: relative;
}
.header .nav .search input {
  width: 100%;
  height: 56px;
  border-radius: 5px;
  border: none;
  padding-right: 56px;
  padding-left: 50px;
  font-size: 20px;
}
.header .nav .search input::placeholder {
  color: #000;
}
.header .nav .search input:focus {
  outline: none;
}
.header .nav .search input::-webkit-search-cancel-button,
.header .nav .search input::-webkit-search-results-decoration {
  display: none;
}
.header .nav .search button {
  position: absolute;
  right: 0;
  height: 56px;
  width: 56px;
  border-radius: 5px;
  background-color: #FDAA4B;
  border: none;
}
.header .nav .nav_icon {
  display: flex;
  align-items: center;
}
.header .nav .nav_icon ul {
  margin: 0;
  padding: 0;
  display: flex;
}
.header .nav .nav_icon ul li {
  list-style-type: none;
  margin-left: 30px;
}
.header .nav .nav_icon ul li button {
  background-color: #32656A;
  border: none;
}

.main {
  margin-top: 110px;
  width: 1280px;
  display: flex;
  flex-direction: column;
}

.carousel_container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.carousel_container .slider_container {
  width: calc(95% - 300px);
  margin-bottom: 20px;
  background-color: #F5F5F5;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: right;
}
.carousel_container .slider_container .slide_img_background {
  position: absolute;
  background-color: #e2e2e2;
  width: 550px;
  height: 550px;
  border-radius: 50%;
  right: -50px;
  bottom: -150px;
}
.carousel_container .slider_container .caroussel {
  width: 450px;
  overflow-x: scroll;
}
.carousel_container .slider_container .caroussel .slides-parent {
  max-height: 400px;
  height: 100%;
  width: 450px;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.carousel_container .slider_container .caroussel .slides-parent .slide {
  height: 100%;
  max-width: 450px;
}
.carousel_container .slider_container .caroussel .slides-parent .slide img {
  z-index: 1;
  height: auto;
  width: 450px;
}
.carousel_container .slider_container .arrow {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: #32656A;
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
}
.carousel_container .slider_container .left-arrow {
  left: 0;
  border-radius: 0 3px 3px 0;
}
.carousel_container .slider_container .right-arrow {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.carousel_container .slider_container .arrow:hover {
  background-color: #000;
  opacity: 0.8;
}
.carousel_container .carousel_side_container {
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 20px;
}
.carousel_container .carousel_side_container .carousel_side_img {
  max-height: 200px;
  display: flex;
  flex-direction: row-reverse;
}
.carousel_container .carousel_side_container .carousel_side_img img {
  max-height: 100%;
  max-width: 100%;
  height: auto;
  width: auto;
}

.product_category h2 {
  text-transform: uppercase;
  text-align: center;
}
.product_category .category_card_container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.product_category .category_card_container .category_card {
  width: 177px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 90px;
}
.product_category .category_card_container .category_card p {
  text-transform: capitalize;
}
.product_category .category_card_container .category_card .category_img_container {
  height: 162px;
  border: 15px solid #F5F5F5;
  border-radius: 50%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}
.product_category .category_card_container .category_card .category_img_container img {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}

.catalog h2 {
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 80px;
}
.catalog .catalog_card_container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-around;
}
.catalog .catalog_card_container .catalog_card {
  width: 241px;
  height: 350px;
  background-color: #fff;
  padding: 20px 25px 30px;
  display: flex;
  flex-direction: column;
  margin-bottom: 60px;
}
.catalog .catalog_card_container .catalog_card .rating {
  unicode-bidi: bidi-override;
  direction: rtl;
  display: flex;
  justify-content: flex-end;
}
.catalog .catalog_card_container .catalog_card .rating span {
  color: #FFC600;
}
.catalog .catalog_card_container .catalog_card .rating > span {
  display: inline-block;
  position: relative;
  width: 1.5em;
}
.catalog .catalog_card_container .catalog_card .rating > span:hover:before,
.catalog .catalog_card_container .catalog_card .rating > span:hover ~ span:before {
  content: "★";
  position: absolute;
  cursor: pointer;
}
.catalog .catalog_card_container .catalog_card .price {
  font-size: 18px;
  font-weight: 700;
}
.catalog .catalog_card_container .catalog_card .price span {
  font-size: 14px;
  font-weight: 400;
  color: #999;
  text-decoration: line-through;
  padding-left: 9px;
}
.catalog .catalog_card_container .catalog_card .catalog_img_container {
  width: 100%;
  height: 260px;
  margin-bottom: 15px;
  background-color: #FAFAFA;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}
.catalog .catalog_card_container .catalog_card .catalog_img_container img {
  max-height: 100%;
  width: auto;
  height: auto;
}
.catalog .catalog_card_container .catalog_card .descr_container p {
  font-size: 18px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.blog {
  width: 100%;
}
.blog h2 {
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 60px;
}
.blog .blog_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
}
.blog .blog_container .blog_card {
  max-width: 405px;
  position: relative;
  display: flex;
  justify-content: center;
  margin-bottom: 120px;
}
.blog .blog_container .blog_card .data {
  background-color: #FDAA4B;
  border-radius: 5px;
  overflow: hidden;
  position: absolute;
  top: 20px;
  left: 20px;
}
.blog .blog_container .blog_card .blog_card_img {
  width: 100%;
  height: auto;
}
.blog .blog_container .blog_card .data {
  width: 124px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  vertical-align: middle;
}
.blog .blog_container .blog_card .comment_container {
  max-width: 347px;
  padding: 15px 13px 13px 14px;
  background-color: #fff;
  position: absolute;
  bottom: -63px;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.45);
}
.blog .blog_container .blog_card .comment_container .comment_icon {
  color: #32656A;
}
.blog .blog_container .blog_card .comment_container h3 {
  margin: 13px 0 9px;
  font-size: 18px;
  font-weight: 700;
}
.blog .blog_container .blog_card .comment_container p {
  margin: 0;
  font-size: 14px;
  color: #32656A;
}

@media screen and (min-width: 300px) and (max-width: 720px) {
  .header {
    justify-content: center;
  }
  .header .nav {
    justify-content: center;
    flex-direction: column-reverse;
  }
  .header .nav .logo {
    display: none;
  }
  .header .nav .search {
    width: 100%;
  }
  .header .nav .nav_icon {
    justify-content: center;
  }

  .carousel_container {
    justify-content: space-around;
  }
  .carousel_container .slider_container {
    width: 95%;
    min-width: 300px;
  }
  .carousel_container .slider_container .slide_img_background {
    height: 400px;
    width: 400px;
  }
  .carousel_container .slider_container .caroussel {
    width: 300px;
    margin-left: auto;
  }
  .carousel_container .slider_container .caroussel .slides-parent {
    width: 300px;
  }
  .carousel_container .slider_container .caroussel .slides-parent .slide {
    width: 300px;
  }
  .carousel_container .slider_container .caroussel .slides-parent .slide img {
    width: 300px;
  }
  .carousel_container .carousel_side_container {
    width: 95%;
    margin: 0 auto 20px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .carousel_container .carousel_side_container .carousel_side_img {
    width: 300px;
  }
}
@media screen and (min-width: 725px) and (max-width: 1024px) {
  .header {
    display: flex;
    height: 130px;
  }
  .header .nav {
    justify-content: space-around;
    position: relative;
    padding-top: 65px;
    padding-bottom: 15px;
  }
  .header .nav .logo {
    position: absolute;
    top: 5px;
    align-content: center;
  }

  .main {
    margin-top: 130px;
  }

  .carousel_container {
    justify-content: space-around;
  }
  .carousel_container .slider_container {
    width: 95%;
  }
  .carousel_container .slider_container .slide_img_background {
    height: 500px;
    width: 500px;
  }
  .carousel_container .slider_container .caroussel {
    width: 400px;
    margin-left: auto;
  }
  .carousel_container .slider_container .caroussel .slides-parent {
    width: 400px;
  }
  .carousel_container .slider_container .caroussel .slides-parent .slide {
    width: 400px;
  }
  .carousel_container .slider_container .caroussel .slides-parent .slide img {
    width: 400px;
  }
  .carousel_container .carousel_side_container {
    width: 95%;
    margin: 0 auto 20px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .carousel_container .carousel_side_container .carousel_side_img {
    width: 300px;
  }
}

/*# sourceMappingURL=style.css.map */
